In [10]:
#Janaina Vicente Dos Santos  RA  2302926

In [11]:
import pandas as pd
import sqlalchemy as sqa
from selenium import webdriver
from selenium.webdriver.common.by import By

In [12]:
navegador = webdriver.Chrome()

In [13]:
navegador.get('https://pt.wikipedia.org/wiki/Lista_de_filmes_de_maior_bilheteria')

In [14]:
navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/div[2]').click()

In [15]:
bilheteria = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/thead/tr/th[6]').text
ranking = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr[1]/td[1]').text
ano = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr[1]/td[2]').text 
filme = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr[1]/td[3]/i/a').text
diretor = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr[1]/td[5]').text
distribuidor = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr[1]/td[4]/a').text

In [16]:
print(bilheteria)
print(ranking)
print(ano)
print(filme)
print(diretor)
print(distribuidor)

Bilheteria (US$)
1
2009
Avatar
James Cameron
20th Century Fox

In [17]:
lista_vazia = []
for i in range(1,100):
    bilheteria = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr['+str(i)+']/td[6]').text
    lista_vazia.append(bilheteria)
print(lista_vazia)

['2 923 706 026', '2 799 439 100', '2 320 250 281', '2 264 743 305', '2 071 310 218', '2 052 415 039', '1 921 847 111', '1 671 537 444', '1 663 075 401', '1 520 538 536', '1 515 341 399', '1 495 696 292', '1 453 683 476', '1 445 638 421', '1 405 018 048', '1 360 325 400', '1 349 926 083', '1 342 359 942', '1 334 407 706', '1 310 466 296', '1 284 540 518', '1 266 115 964', '1 243 225 667', '1 236 005 118', '1 215 577 205', '1 159 444 662', '1 155 046 416', '1 148 528 393', '1 147 633 833', '1 142 471 295', '1 131 927 996', '1 131 416 446', '1 123 794 079', '1 109 802 321', '1 104 054 072', '1 081 169 825', '1 077 022 372', '1 074 458 282', '1 073 841 394', '1 067 316 101', '1 066 179 747', '1 058 682 142', '1 054 304 000', '1 046 721 266', '1 041 563 462', '1 034 800 131', '1 029 266 989', '1 025 468 216', '1 023 842 938', '1 023 784 195', '1 017 030 651', '1 006 234 167', '1 001 978 080', '995 339 117', '977 070 383', '970 766 005', '968 511 805', '967 724 775', '962 201 338', '961 691 209', '959 027 992', '955 775 804', '955 706 395', '947 944 270', '942 278 045', '941 637 960', '939 628 210', '934 519 387', '928 760 770', '925 668 380', '910 809 311', '902 548 476', '898 204 420', '896 815 106', '894 983 373', '894 328 469', '886 686 817', '880 705 312', '880 166 924', '877 244 782', '873 637 528', '870 325 439', '870 110 523', '868 390 560', '865 011 746', '863 756 051', '859 208 836', '858 848 019', '856 085 151', '855 301 806', '848 593 948', '845 536 306', '836 303 693', '825 025 036', '822 854 286', '822 009 764', '817 400 891', '814 337 054', '814 044 001']

In [18]:
df = pd.DataFrame(lista_vazia,columns=['bilheteria'])

In [19]:
lista_vazia = []
for i in range(1,100):
    ranking = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr['+str(i)+']/td[1]').text
    lista_vazia.append(ranking)
print(lista_vazia)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99']

In [20]:
df ['ranking'] = lista_vazia
df

       bilheteria ranking
0   2 923 706 026       1
1   2 799 439 100       2
2   2 320 250 281       3
3   2 264 743 305       4
4   2 071 310 218       5
..            ...     ...
94    822 854 286      95
95    822 009 764      96
96    817 400 891      97
97    814 337 054      98
98    814 044 001      99

[99 rows x 2 columns]

In [21]:
lista_vazia = []
for i in range(1,100):
    ano = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr['+str(i)+']/td[2]'
).text
    lista_vazia.append(ano)
print(lista_vazia)

['2009', '2019', '2022', '1997', '2015', '2018', '2021', '2015', '2019', '2012', '2015', '2022', '2019', '2023', '2015', '2023', '2018', '2011', '2017', '2018', '2013', '2017', '2018', '2017', '2013', '2015', '2016', '2018', '2003', '2012', '2019', '2019', '2011', '1993', '2014', '2012', '2019', '2019', '2019', '2010', '2006', '2016', '2019', '2011', '1999', '2017', '2016', '2010', '2001', '2016', '2012', '2008', '2022', '2017', '2010', '2013', '1994', '2016', '2014', '2007', '2013', '2022', '2023', '2002', '2007', '2003', '2022', '2009', '2004', '2002', '2018', '2021', '2001', '2005', '2007', '2016', '2009', '2015', '2017', '2012', '2016', '2017', '2010', '2005', '2013', '2017', '2022', '2015', '2018', '2017', '2012', '2023', '2009', '2002', '2017', '2021', '1996', '2017', '2016']

In [22]:
df ['ano'] = lista_vazia
df

       bilheteria ranking   ano
0   2 923 706 026       1  2009
1   2 799 439 100       2  2019
2   2 320 250 281       3  2022
3   2 264 743 305       4  1997
4   2 071 310 218       5  2015
..            ...     ...   ...
94    822 854 286      95  2017
95    822 009 764      96  2021
96    817 400 891      97  1996
97    814 337 054      98  2017
98    814 044 001      99  2016

[99 rows x 3 columns]

In [23]:
lista_vazia = []
for i in range(1,100):
    filme = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr[' + str(i) + ']/td[3]').text
    lista_vazia.append(filme)
print(lista_vazia)

['Avatar', 'Vingadores: Ultimato', 'Avatar: O Caminho da Água', 'Titanic', 'Star Wars: O Despertar da Força', 'Vingadores: Guerra Infinita', 'Homem-Aranha: Sem Volta para Casa', 'Jurassic World', 'O Rei Leão', 'Os Vingadores', 'Velozes & Furiosos 7', 'Top Gun: Maverick', 'Frozen II', 'Barbie', 'Vingadores: Era de Ultron', 'Super Mario Bros. O Filme', 'Pantera Negra', 'Harry Potter e as Relíquias da Morte: Parte 2', 'Star Wars Episodio VIII - Os Últimos Jedi', 'Jurassic World: Reino Ameaçado', 'Frozen', 'A Bela e a Fera', 'Os Incríveis 2', 'Velozes e Furiosos 8', 'Homem de Ferro 3', 'Minions', 'Capitão América: Guerra Civil', 'Aquaman', 'O Senhor dos Anéis: O Retorno do Rei', '007 - Operação Skyfall', 'Homem-Aranha: Longe de Casa', 'Capitã Marvel', 'Transformers: O Lado Oculto da Lua', 'Jurassic Park', 'Transformers 4 - A Era da Extinção', 'Batman: O Cavaleiro das Trevas Ressurge', 'Star Wars Episodio IX: A Ascensão Skywalker', 'Coringa', 'Toy Story 4', 'Toy Story 3', 'Piratas do Caribe: O Baú da Morte', 'Rogue One: Uma História Star Wars', 'Aladdin', 'Piratas do Caribe: Navegando em Águas Misteriosas', 'Star Wars: Episódio I – A Ameaça Fantasma', 'Meu Malvado Favorito 3', 'Procurando Dory', 'Alice no País das Maravilhas', 'Harry Potter e a Pedra Filosofal', 'Zootopia', 'O Hobbit: Uma Jornada Inesperada', 'Batman: O Cavaleiro das Trevas', 'Jurassic World: Domínio', 'Jumanji: Bem-vindo à Selva', 'Harry Potter e as Relíquias da Morte: Parte 1', 'Meu Malvado Favorito 2', 'O Rei Leão', 'Mogli: O Menino Lobo', 'O Hobbit: A Batalha dos Cinco Exércitos', 'Piratas do Caribe: No Fim do Mundo', 'O Hobbit: A Desolação de Smaug', 'Doutor Estranho no Multiverso da Loucura', 'Oppenheimer', 'O Senhor dos Anéis: As Duas Torres', 'Harry Potter e a Ordem da Fênix', 'Procurando Nemo', 'Minions 2: A Origem de Gru', 'Harry Potter e o Enigma do Príncipe', 'Shrek 2', 'Harry Potter e a Câmara Secreta', 'Bohemian Rhapsody', 'The Battle at Lake Changjin', 'O Senhor dos Anéis: A Sociedade do Anel', 'Harry Potter e o Cálice de Fogo', 'Homem-Aranha 3', 'Pets: A Vida Secreta dos Bichos', 'Era do Gelo 3: Amanhecer dos Dinossauros', '007 Contra Spectre', 'Homem-Aranha: De Volta ao Lar', 'A Era Gelo 4: Deriva Continental', 'Batman vs Superman: A Origem da Justiça', 'Lobo Guerreiro 2', 'A Origem', 'Star Wars: Episódio III – A Vingança dos Sith', 'Jogos Vorazes - Em Chamas', 'Guardiões da Galáxia Vol. 2', 'Pantera Negra: Wakanda Para Sempre', 'Divertida Mente', 'Venom', 'Thor: Ragnarok', 'A Saga Crepúsculo: Amanhecer - Parte 2', 'Guardiões da Galáxia Vol. 3', 'Transformers: A Vingança dos Derrotados', 'Homem-Aranha', 'Mulher-Maravilha', 'Hi, Mom', 'Independence Day', 'Viva – A Vida é uma Festa', 'Animais Fantásticos e Onde Habitam']

In [24]:
df ['filme'] = lista_vazia
df

       bilheteria ranking   ano                               filme
0   2 923 706 026       1  2009                              Avatar
1   2 799 439 100       2  2019                Vingadores: Ultimato
2   2 320 250 281       3  2022           Avatar: O Caminho da Água
3   2 264 743 305       4  1997                             Titanic
4   2 071 310 218       5  2015     Star Wars: O Despertar da Força
..            ...     ...   ...                                 ...
94    822 854 286      95  2017                    Mulher-Maravilha
95    822 009 764      96  2021                             Hi, Mom
96    817 400 891      97  1996                    Independence Day
97    814 337 054      98  2017           Viva – A Vida é uma Festa
98    814 044 001      99  2016  Animais Fantásticos e Onde Habitam

[99 rows x 4 columns]

In [25]:
lista_vazia = []
for i in range(1,100):
    distribuidor = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr['+str(i)+']/td[4]').text
    lista_vazia.append(distribuidor)
print(lista_vazia)

['20th Century Fox', 'Walt Disney Studios Motion Pictures', '20th Century Studios', 'Paramount Pictures / 20th Century Fox', 'Walt Disney Studios Motion Pictures', 'Walt Disney Studios Motion Pictures', 'Columbia Pictures', 'Universal Pictures', 'Walt Disney Studios Motion Pictures', 'Walt Disney Studios Motion Pictures', 'Universal Pictures', 'Paramount Pictures', 'Walt Disney Studios Motion Pictures', 'Warner Bros. Pictures', 'Walt Disney Studios Motion Pictures', 'Universal Pictures', 'Walt Disney Studios Motion Pictures', 'Warner Bros. Pictures', 'Walt Disney Studios Motion Pictures', 'Universal Pictures', 'Walt Disney Studios Motion Pictures', 'Walt Disney Studios Motion Pictures', 'Walt Disney Studios Motion Pictures', 'Universal Pictures', 'Walt Disney Studios Motion Pictures', 'Universal Pictures', 'Walt Disney Studios Motion Pictures', 'Warner Bros. Pictures', 'New Line Cinema', 'Columbia Pictures', 'Columbia Pictures', 'Walt Disney Studios Motion Pictures', 'Paramount Pictures', 'Universal Studios', 'Paramount Pictures', 'Warner Bros. Pictures', 'Walt Disney Studios Motion Pictures', 'Warner Bros. Pictures', 'Walt Disney Studios Motion Pictures', 'Walt Disney Studios Motion Pictures', 'Walt Disney Studios Motion Pictures', 'Walt Disney Studios Motion Pictures', 'Walt Disney Studios Motion Pictures', 'Walt Disney Studios Motion Pictures', '20th Century Fox', 'Universal Studios', 'Walt Disney Studios Motion Pictures', 'Walt Disney Studios Motion Pictures', 'Warner Bros. Pictures', 'Walt Disney Studios Motion Pictures', 'Warner Bros. Pictures', 'Warner Bros. Pictures', 'Universal Pictures', 'Columbia Pictures', 'Warner Bros. Pictures', 'Universal Pictures', 'Walt Disney Studios Motion Pictures', 'Walt Disney Studios Motion Pictures', 'Warner Bros. Pictures', 'Walt Disney Studios Motion Pictures', 'Warner Bros. Pictures', 'Walt Disney Studios Motion Pictures', 'Universal Pictures', 'New Line Cinema', 'Warner Bros. Pictures', 'Walt Disney Studios Motion Pictures', 'Universal Pictures', 'Warner Bros. Pictures', 'DreamWorks', 'Warner Bros. Pictures', '20th Century Fox', 'CMC Pictures', 'New Line Cinema', 'Warner Bros. Pictures', 'Columbia Pictures', 'Universal Pictures', '20th Century Fox', 'Columbia Pictures', 'Columbia Pictures', '20th Century Fox', 'Warner Bros. Pictures', 'China Film Group', 'Warner Bros. Pictures', '20th Century Fox', 'Lionsgate Films', 'Walt Disney Studios Motion Pictures', 'Walt Disney Studios Motion Pictures', 'Walt Disney Studios Motion Pictures', 'Columbia Pictures', 'Walt Disney Studios Motion Pictures', 'Summit Entertainment', 'Walt Disney Studios Pictures', 'Paramount Pictures', 'Columbia Pictures', 'Warner Bros. Pictures', 'China Film Group', '20th Century Fox', 'Walt Disney Studios Motion Pictures', 'Warner Bros. Pictures']

In [26]:
df ['distribuidor'] = lista_vazia
df

,bilheteria,ranking,ano,filme,distribuidor
0,2 923 706 026,1,2009,Avatar,20th Century Fox
1,2 799 439 100,2,2019,Vingadores: Ultimato,Walt Disney Studios Motion Pictures
2,2 320 250 281,3,2022,Avatar: O Caminho da Água,20th Century Studios
3,2 264 743 305,4,1997,Titanic,Paramount Pictures / 20th Century Fox
4,2 071 310 218,5,2015,Star Wars: O Despertar da Força,Walt Disney Studios Motion Pictures
...,...,...,...,...,...
94,822 854 286,95,2017,Mulher-Maravilha,Warner Bros. Pictures
95,822 009 764,96,2021,"Hi, Mom",China Film Group
96,817 400 891,97,1996,Independence Day,20th Century Fox
97,814 337 054,98,2017,Viva – A Vida é uma Festa,Walt Disney Studios Motion Pictures
98,814 044 001,99,2016,Animais Fantásticos e Onde Habitam,Warner Bros. Pictures

In [27]:
lista_vazia = []
for i in range(1,100):
    diretor = navegador.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr['+str(i)+']/td[5]').text
    lista_vazia.append(diretor)
print(lista_vazia)

['James Cameron', 'Joe Russo / Anthony Russo', 'James Cameron', 'James Cameron', 'J.J. Abrams', 'Joe Russo / Anthony Russo', 'Jon Watts', 'Colin Trevorrow', 'Jon Favreau', 'Joss Whedon', 'James Wan', 'Joseph Kosinski', 'Chris Buck / Jennifer Lee', 'Greta Gerwig', 'Joss Whedon', 'Michael Jelenic / Aaron Horvath', 'Ryan Coogler', 'David Yates', 'Rian Johnson', 'J.A. Bayona', 'Chris Buck / Jennifer Lee', 'Bill Condon', 'Brad Bird', 'F. Gary Gray', 'Shane Black', 'Kyle Balda / Pierre Coffin', 'Joe Russo / Anthony Russo', 'James Wan', 'Peter Jackson', 'Sam Mendes', 'Jon Watts', 'Ryan Fleck / Anna Boden', 'Michael Bay', 'Steven Spielberg', 'Michael Bay', 'Christopher Nolan', 'J.J. Abrams', 'Todd Phillips', 'Josh Cooley', 'Lee Unkrich', 'Gore Verbinski', 'Gareth Edwards', 'Guy Ritchie', 'Rob Marshall', 'George Lucas', 'Kyle Balda / Pierre Coffin', 'Andrew Stanton', 'Tim Burton', 'Chris Columbus', 'Byron Howard / Rich Moore', 'Peter Jackson', 'Christopher Nolan', 'Colin Trevorrow', 'Jake Kasdan', 'David Yates', 'Pierre Coffin / Chris Renaud', 'Roger Allers / Rob Minkoff', 'Jon Favreau', 'Peter Jackson', 'Gore Verbinski', 'Peter Jackson', 'Sam Raimi', 'Christopher Nolan', 'Peter Jackson', 'David Yates', 'Andrew Stanton', 'Kyle Balda', 'David Yates', 'Andrew Adamson / Kelly Asbury / Conrad Vernon', 'Chris Columbus', 'Bryan Singer', 'Chen Kaige / Tsui Hark / Dante Lam', 'Peter Jackson', 'Mike Newell', 'Sam Raimi', 'Chris Renaud', 'Carlos Saldanha', 'Sam Mendes', 'Jon Watts', 'Steve Martino / Mike Thurmeier', 'Zack Snyder', 'Wu Jing', 'Christopher Nolan', 'George Lucas', 'Francis Lawrence', 'James Gunn', 'Ryan Coogler', 'Pete Docter', 'Ruben Fleischer', 'Taika Waititi', 'Bill Condon', 'James Gunn', 'Michael Bay', 'Sam Raimi', 'Patty Jenkins', 'Jia Ling', 'Roland Emmerich', 'Lee Unkrich', 'David Yates']

In [28]:
df ['diretor'] = lista_vazia
df

,bilheteria,ranking,ano,filme,distribuidor,diretor
0,2 923 706 026,1,2009,Avatar,20th Century Fox,James Cameron
1,2 799 439 100,2,2019,Vingadores: Ultimato,Walt Disney Studios Motion Pictures,Joe Russo / Anthony Russo
2,2 320 250 281,3,2022,Avatar: O Caminho da Água,20th Century Studios,James Cameron
3,2 264 743 305,4,1997,Titanic,Paramount Pictures / 20th Century Fox,James Cameron
4,2 071 310 218,5,2015,Star Wars: O Despertar da Força,Walt Disney Studios Motion Pictures,J.J. Abrams
...,...,...,...,...,...,...
94,822 854 286,95,2017,Mulher-Maravilha,Warner Bros. Pictures,Patty Jenkins
95,822 009 764,96,2021,"Hi, Mom",China Film Group,Jia Ling
96,817 400 891,97,1996,Independence Day,20th Century Fox,Roland Emmerich
97,814 337 054,98,2017,Viva – A Vida é uma Festa,Walt Disney Studios Motion Pictures,Lee Unkrich
98,814 044 001,99,2016,Animais Fantásticos e Onde Habitam,Warner Bros. Pictures,David Yates

In [29]:
#df.to_csv('dados_originais.csv', sep=';', index=False)
df.to_csv('../0_bases_originais/dados_originais.csv', sep=';', index=False,encoding='utf-8')

In [30]:
df.to_json('../0_bases_originais/dados_originais.json')